body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form{
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 10px;
}
form .btn{margin-right: 20px !important;}

.learning1{
box-shadow: 0 0 10px #ddd;
}
.lenth{
  margin:40px 0 !important;
}
.prev{
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 10px;
min-height: 150px;
}